header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: URL("/images/bg.png") no-repeat;
  background-size: cover;
  color: #fff;
}

header img {
  margin: 50px 0 35px 0;
}

header h1 {
  font-size: 33px;
  font-weight: 800;
  margin-bottom: 5px;
}

header p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

header .Opening-hours {
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 60px;
}

header .Opening-hours span {
  font-size: 20px;
  font-weight: 600;
}

header .Opening-hours.open {
  background-color: #54cc0a;
}

header .Opening-hours.closed {
  background-color: #ff3131;
}
